body {
  font-family: 'Manjari', sans-serif;
  color: white;
  margin: 150px;
}
h1 {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}
p {
  font-family: 'Manjari', sans-serif;
}

.grid1 {
  background-color: #9AC1D9;
}

.grid2 {
  background-color: #2685BF;
}

.grid3 {
  background-color: #52A5D9;
}

.grid4 {
  background-color: #4393D9;
}

.grid1 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid2 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid3 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid4 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid1 div {
  padding: 20px;
}

.grid2 div {
  padding: 20px;
}

.grid3 div {
  padding: 20px;
}

.grid4 div {
  padding: 20px;
}
