body {
  font-family: 'Manjari', sans-serif;
  color: white;
  margin: 150px;
  margin-left: 280px;
  margin-right: 280px;
  line-height: 1.6;
  font-size: 18px;
}

h1 {
  font-family: 'Manjari', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

p {
  font-family: 'Manjari', sans-serif;
  line-height: 1.8;
}

a {
  border: solid 1px;
  color: white;
  padding: 12px 44px;
  text-align: center;
  text-decoration: none;
  display: flow-root;
}

ul {
  line-height: 2.2;
}

.line {
  margin-top: 10px;
  margin-bottom: 40px;
}

.grid1 {
  background-color: #9AC1D9;
}

.grid2 {
  background-color: #2685BF;
}

.grid3 {
  background-color: #52A5D9;
}

.grid4 {
  background-color: #4393D9;
}

.grid1 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid2 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid3 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid4 section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid1 div {
  padding: 20px;
}

.grid2 div {
  padding: 20px;
}

.grid3 div {
  padding: 20px;
}

.grid4 div {
  padding: 20px;
}

svg {
  animation: circle 11s infinite linear;
  transform-origin: center;
  width: 50%;
  align-content: center;
}

@keyframes circle {
  0% {
    transform: rotateZ(0deg) scale(.5);
  }
  50% {
    transform: rotateZ(180deg) scale(1.0);
  }
  100% {
    transform: rotateZ(360deg) scale(.5);
  }
}

.illustration {
  text-align: center;
}

@media only screen and (max-width:1050px) {
  body {
    margin: 50px;
  }

  .grid1 div {
    padding: 0px;
  }

  .grid2 div {
    padding: 0px;
  }

  .grid3 div {
    padding: 0px;
  }

  .grid4 div {
    padding: 0px;
  }

  .grid1 section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }

  .grid2 section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }

  .grid3 section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }

  .grid4 section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
}
